* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  touch-action: none;
  -webkit-touch-callout: none;
}

button{
    touch-action: manipulation;
  }


body {
  height: 100vh;
  width: 100vw;
  font-family: "Orbitron", serif;
  background-image: url(../img/space.jpg);
  background-size: cover;
  animation: backmove 30s ease-in-out infinite;
}
@keyframes backmove {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

header {
  width: 100%;
  height: auto;
  max-height: 100%;
  border: 3px solid black;
  background-color: rgb(8, 4, 26);
  box-shadow: 5px 5px 8px black;
  padding: 1rem;
}

header h1 {
  color: rgb(78, 221, 2);
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}
nav {
  z-index: 3;

  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

button {
  font-family: "Press Start 2P", serif;
}

.startgamebutton {
  background-color: rgb(255, 255, 30);
  border: 1px solid white;
  box-shadow: 5px 5px 8px yellow;
  border-radius: 20px;
  color: black;
  font-family: "Press Start 2P", serif;
  cursor: pointer;
}

header h1 {
  text-align: center;
  padding: 1rem 0.5rem;
  font-family: "Press Start 2P", serif;
}

#basic-stuff {
  border: 3px dotted rgb(89, 255, 0);
  min-height: 40%;
  background-color: black;
  color: rgb(89, 255, 0);
  padding: 1rem;
}

main {
  margin: 0;
  padding: 0;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}

@keyframes backmove {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

.instructions {
  font-size: 1rem;
}

.monster {
  height: 20%;
  width: 20%;
  background-image: url(../img/zombie.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: shake 2s ease-in-out infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  20%,
  60% {
    transform: rotate(10deg);
  }
  40%,
  80% {
    transform: rotate(-10deg);
  }
}

.count {
  font-size: 3rem;
  text-align: center;
  position: relative;
}

.gun {
  height: 150px;
  width: 300px;
  background-image: url(../img/spaceship.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.gamebutton {
  height: 3rem;
  padding: 1rem;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.8);
  color: white;
  z-index: 3;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}

.laser {
  width: 10px;
  height: 50px;
  border-radius: 20px;
  background: linear-gradient(
    354deg,
    rgba(0, 255, 248, 1) 33%,
    rgba(255, 40, 236, 1) 81%
  );
  box-shadow: 5px 5px 8px white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(0);
  transition: transform 1s ease-out;
  opacity: 0;
  z-index: 0;
}

.messageConsole {
  display: none;
}
.instructions {
  display: none;
}

.activemes {
  display: block;
}

#rocket {
  font-size: 3rem;
}

@media (min-width: 992px) {
  body {
    display: flex;
  }
  header {
    width: 30%;
    height: 100vh;
  }
  nav {
    min-height: 5vh;
  }
  .startgamebutton {
    margin: 2rem 0;
    padding: 1rem;
    font-size: 1rem;
    margin: 0.8rem;
  }
  
  #basic-stuff {
    display: block;
  }
  .monster {
    margin-top: 3rem;
  }
  .count {
    top: -2.5rem;
  }
  main {
    height: 100%;
  }
  .gun {
    height: 200px;
  }
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

@media (max-width: 992px) {
  body{
    max-height: 100vh;
  }
  header {
    width: 100%;
    min-height: 7%;
    z-index: 3;
  }
  header h1 {
    display: none;
  }
  nav {
    flex-wrap: wrap;
    gap: 10px;
  }
  .startgamebutton {
    padding: 0.5rem;
  }
  #basic-stuff {
    position: fixed;
    left: 0; 
    width: 100%;
    height: auto; 
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
    padding: 1rem;
    z-index: 5; 
    display: none; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  main {
    height: 80vh;
  }
  .monster {
    margin-top: 2rem;
    min-height: 15%;
  }
}

.activemes {
  display: block;
}

